/* COOOOLORRRS  */
/* bacKground color #F2F2F2 */
/* button color #6C63FF */
/* footer color rgba(236, 235, 255, 0.6); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Open+Sans:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Open Sans";
}
header {
  position: relative;
  background-color: rgb(221, 239, 241);
}
header .container {
  padding: 1.2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  padding: 1.2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo {
  position: absolute;
  left: 2%;
  right: 80%;
  top: 30%;
  bottom: 9.02%;
}
.container a {
  margin-left: 3rem;
  font-size: 1.02rem;
  padding: 10px 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #9893a3;
  transition: 0.2s ease-in;
}
.container a:hover {
  color: #6c63ff;
}

.headerbtns .login {
  color: #6c63ff;
  border: 2px solid #6c63ff;

  transition: 0.2s ease-in;
}
.headerbtns .login:hover {
  background-color: #6c63ff;
  color: white;
}
.headerbtns .signup {
  background: #6c63ff;
  border: 1px solid #6c63ff;
  color: white;

  border-radius: 2px;
}
.headerbtns .signup:hover {
  background-color: white;
  color: #6c63ff;
}
.description .text_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  color: #2f2e41;
  line-height: 90px;
  margin: 5rem;
  width: 589px;
  height: 100px;
}
.description .text {
  width: 489px;
  height: 102px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #9893a3;
  padding: 5rem;
  padding-top: 1rem;
}
.description .sectionbtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 30px;
  gap: 10px;
  width: 150px;
  height: 45px;
  text-decoration: none;
  color: white;
  background: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 3px white solid;
  transition: 0.3s ease;
}
.description .sectionbtn:hover {
  color: #6c63ff;
  background-color: #f2f2f2;
}
.getstarted {
  padding: 5rem;
}
.hero_img {
  position: absolute;
  width: 300px;
  height: 359px;
  left: 742px;
  top: 9rem;
}
.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 1.2rem 9%;
}
.section_two {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8rem;
  gap: 200px;
  margin-top: 3rem;
  width: 1180px;
  height: 442.78px;
}
.section_two h1 {
  width: 400px;
  height: 128px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;

  letter-spacing: -1px;

  color: #2f2e41;
}
.section_two p {
  width: 400px;
  height: 102px;
  margin-top: 3rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #9893a3;
}
.section_two a {
  width: 92px;
  height: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 200px;
  letter-spacing: -1px;
  color: #2f2e41;
  transition: 0.3s ease;
}
.section_two a:hover {
  color: #6c63ff;
}
.section_three h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 60px;
  font-family: "Playfair Display";
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10rem;
  gap: 45px;
  margin-top: 3rem;
  width: 1180px;
  height: 502px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc((100% / 3) - 20px);
}

.card img {
  max-width: 100%;
  height: auto;
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 46px 88px;
  gap: 30px;
  width: 363px;
  height: 421px;
  background: rgba(236, 235, 255, 0.3);
  border-radius: 2px;
}
.one h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #717082;
}
.one h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;

  text-align: center;
  letter-spacing: -2px;

  color: #2f2e41;
}
.one h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #717082;
}
.one button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 10px;
  width: 140px;
  height: 51px;
  font-weight: bold;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease;
}
.one button:hover {
  color: white;
  font-weight: bold;
  background-color: #6c63ff;
  cursor: pointer;
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 88px;
  gap: 40px;
  width: 363px;
  height: 502px;
  background: #6c63ff;
  border-radius: 2px;
}
.two h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  background-color: #6c63ff;
  color: #ffffff;
}
.two h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;

  text-align: center;

  color: #ffffff;
  background-color: #6c63ff;
}
.two h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: #6c63ff;
}
.two button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 10px;

  width: 186px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}
.two button:hover {
  border: 1px solid #bcbbca;
  color: white;
  font-weight: bold;
  color: #6c63ff;
}
.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 46px 88px;
  gap: 30px;
  width: 363px;
  height: 421px;
  background: rgba(236, 235, 255, 0.3);
  border-radius: 2px;
}
.three h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #717082;
}
.three h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;

  text-align: center;
  letter-spacing: -2px;

  color: #2f2e41;
}
.three h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #717082;
}
.three button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 10px;
  width: 140px;
  height: 51px;
  font-weight: bold;
  border: 1px solid #6c63ff;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease;
}
.three button:hover {
  color: white;
  font-weight: bold;
  background-color: #6c63ff;
  cursor: pointer;
}
.banner {
  display: flex;
  justify-content:center;
  align-items:center;
  background: #2F2E41;
border-radius: 10px;
width: 900px;
height: 296px;
margin-left: 20rem;
}
.banner h1 {
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 56px;
width: 346px;
height: 128px;
margin-right: 20rem;
background-color: #2F2E41;
color: #FFFFFF;
}
.banner button{
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 30px;
gap: 10px;
width: 186px;
height: 54px;
background: #6C63FF;
border: 1px solid #6C63FF;
border-radius: 2px;
cursor: pointer;
transition: .3s ease;
}
.banner button:hover{
  color: #6c63ff;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}
footer{
  position:absolute;
  top: 2500px;
  

}
.container_footer{
  display: flex;
  justify-content: space-between;
  margin: 0px 270px;
  padding: 150px 0px;
  

}
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #2f2e41;
  margin-bottom: 20px;}
 
.title_text{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #717082;
  margin-bottom: 8px;

}
.copyright{
  margin: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.div1 a{
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  text-decoration: none;
}
.div2 a {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
  text-decoration: none;
}
.div3 a{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
  text-decoration: none;
}
.media a {
  display: inline;

}
.media{
  margin-left:10rem;
}
.copyright_text{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 16px;

color: #9893A3;
}